<!-- /* start footer section */ -->


<div class="container-fluied footer">
  <img src="img/Repeat Grid 6.png" alt="" class="grid">
  <img src="img/Component 3 – 13.png" alt="" class="component">

  <div class="container">
    <img src="img/Logo-f.png" alt="" class="Logo">
    <div class="row">
      <div class="col-md-3">
        <a>
          <p> دليل المستخدم </p>
        </a>
      </div>
      <div class="col-md-3">
        <a>
          <p> الأسئلة الشائعة </p>
        </a>
      </div>
      <div class="col-md-3">
        <a>
          <p>اتفاقية الشروط والأحكام </p>
        </a>
      </div>
    </div>
    <div class="socialmedia">
      <div class="row">
        <div class="col-sm-6 text-center text-sm-right ">
          <img src="img/Subtraction 19.png" alt="">
        </div>
        <div class="col-sm-6 text-center ml-auto">
          <ul class="list-unstyled">
            <li>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="copyright">
    <p class="text-center">
      جميع الحقوق محفوظة 2020
    </p>

  </div>
</div>
<!-- /* end footer section */ -->